

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
  body {
  background-color: #FBFADA;  
}

  color: #1E1E1E;
  font-family: 'DM Serif Text', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

section, 
.content-wrapper, 
.container, 
.main-content,
.about-page,
.home-page {
  background-color: #FBFADA;  
  border-radius: 12px;
  padding: 25px;
  margin: 20px auto;
  max-width: 1200px;
}



h1, h2, h3 {
  color: #0c2d57;   
  letter-spacing: 0.5px;
}

.section-title {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  color: #2E2E2E;
}


   

a {
  text-decoration: none;
  color: #436850;
}

a:hover {
  color: #0c2d57;
}



button, .btn {
  background-color: #ADBC9F;
  color: #12372A;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

button:hover, .btn:hover {
  background-color: #436850;
  color: white;
}


.card {
  background-color: #FBFADA;
  border: 1px solid #E1E1C8;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card h3 {
  color: #436850;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}



footer {
  background-color: #12372A;   
  color: #FFFFFF;              
  text-align: center;
  padding: 20px 0;
  font-size: 1rem;
  font-weight: 500;
}

/* Footer links */
footer a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
}

footer a:hover {
  color: #FBFADA;  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
