/* NAVBAR CONTAINER */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: #1f2937;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.navbar .logo {
    font-family: 'DM Serif Text', serif;
    font-size: 34px;
    letter-spacing: 1px;
    background: linear-gradient(90deg, #fbbf24, #f97316);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar .logo:hover {
    color: #ffffff;
    transform: scale(1.08);
}


.logo-icon {
    width: 42px;
    height: 42px;
    margin-right: 10px;
}


.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: #ffffff;
    margin-left: 28px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
}


.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background-color: #ffdd00;
    transition: width 0.3s ease;
}

.nav-links a:hover {
    color: #ffdd00;
}

.nav-links a:hover::after {
    width: 100%;
}


@media (max-width: 768px) {
    .navbar {
    flex-direction: column;
    padding: 15px 20px;
    }

    .nav-links {
    margin-top: 12px;
    }

    .nav-links a {
    margin: 10px;
    }
}
